.gantt-container {
  width: 700px;
  margin: 100px auto;
}

.gantt-box {
  border: 1px solid #cecece;
  height: 400px;
  border-radius: 4px;
  background-image: linear-gradient(to right, transparent 69px, #f0f0f0 69px);
  background-size: 70px 70px;
  background-repeat: repeat;
}

.add-wrap {
  display: flex;
  margin-bottom: 20px;
}
.step-text {
  width: 200px !important;
  margin-right: 20px !important;
}
.step-color {
  width: 80px !important;
  margin-right: 20px !important;
}

.step-wrap {
  position: relative;
  height: 40px;
  margin-top: 20px;
}

.step {
  width: 140px;  
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  cursor: move;
  position: absolute;
}

.left {
  width: 8px;
  height: 10px;
  left: 0;
  top: 15px;
  position: absolute;
  cursor: w-resize;
}

.right {
  width: 8px;
  height: 10px;
  right: 0;
  top: 15px;
  position: absolute;
  cursor: e-resize;
}
.addbtn {
  cursor: pointer;
}